/.CFUserTextEncoding
/.DS_Store
/.Trash
/.localized
/.matplotlib
/.oracle_jre_usage
/.venv
/.vscode
/.zsh_history
/.zsh_sessions
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public